<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>shukin.co.uk</title>

		<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="/images/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link href="/styles/site.min.css" rel="stylesheet">

		<!-- ===============    favicon link     =============== -->
		<link rel="icon" type="image/png" href="images/favicon.png" />

		<!-- ===============    Bootstrap core CSS     =============== -->
		<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" media="all" />

		<!-- ===============    font-awesome core CSS     =============== -->
		<link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css" media="all" />

		<!-- ===============    theme core CSS     =============== -->
		<link rel="stylesheet" type="text/css" href="/styles/effect1.css" media="all" />

		<!-- ===============    theme core CSS     =============== -->
		<link rel="stylesheet" type="text/css" href="/styles/theme.css" media="all" />

		<!-- ===============    responsive core CSS     =============== -->
		<link rel="stylesheet" type="text/css" href="/styles/responsive.css" media="all" />

		<!-- ===============    spacing core CSS     =============== -->
		<link rel="stylesheet" type="text/css" href="/styles/spacing.min.css" media="all" />

		<!-- ===============    theme content color core CSS     =============== -->
		<link rel="stylesheet" type="text/css" href="/styles/theme-content-color/blue.css" media="all" />


		<!-- ===============    Google fonts CSS     =============== -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500|Lato:400,300,700,900' rel='stylesheet' type='text/css'>


		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->


	</head>
	<body>
		<!-- START preloader section -->
		<div class="ip-container" id="ip-container">
				<div class="ip-header">
						<div class="ip-loader">
								<svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
										<path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
										<path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
								</svg>
						</div>
				</div>
				<div class="menu-wrapper">
						<div class="container">
								<header>
										<div class="logo">
												<a href="/">
														<img src="images/shukin-logo-250.png" alt="">
												</a>
										</div>
										<h2 style="float: left;">S.Hukin Ltd</h2>
										<div class="mobile-menu">
												<span class="line"></span>
										</div>
										<nav>
												<ul>
														{{# each navLinks}}
														<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
															<a href="{{ href }}">{{ label }}</a>
														</li>
														{{/each}}
														{{#if user}}
														<li><a href="/keystone/signout">Sign Out</a></li>
														{{else}}
														<li><a href="/keystone/signin">Sign In</a></li>
														{{/if}}
												</ul>
										</nav>
								</header>
						</div>
				</div>
		</div>
		<!--/ END preloader section -->
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<!-- START footer section -->
		<footer class="atom-footer-area small-section">
				<div class="container">
						<div class="row">
								<div class="col-md-6 col-xs-6">
										<div class="copyright">
												<p>Copyright &copy; 2017 <a href="/">S.Hukin Ltd</a>.</p>
										</div>
								</div>
								<div class="col-md-6 col-xs-6 text-right">
										<div>
												<a href="/"><img style="float:right;" src="/images/shukin-logo-100.png" alt="logo" class="img-responsive"></a>
										</div>
								</div>
						</div>
				</div>
		</footer>
		<!--/ END footer section -->

		{{{isAdminEditorJS user}}}

		<!-- ===============    /End template markup     =============== -->


		<!-- ===============    jQuery core jquery     =============== -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery-1.11.3.min.js"><\/script>')</script>
		<!-- ===============    Bootstrap core jquery     =============== -->
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

		<!-- ===============    modernizr core jquery     =============== -->
		<script type="text/javascript" src="/js/modernizr.custom.js"></script>

		<!-- ===============    classie core jquery     =============== -->
		<script type="text/javascript" src="/js/classie.js"></script>

		<!-- ===============    pathLoader core jquery     =============== -->
		<script type="text/javascript" src="/js/pathLoader.js"></script>

		<!-- ===============    imagesloaded core jquery     =============== -->
		<script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>

		<!-- ===============    stellar core jquery     =============== -->
		<script type="text/javascript" src="/js/jquery.stellar.min.js"></script>

		<!-- ===============    smooth core jquery     =============== -->
		<script type="text/javascript" src="/js/smooth.js"></script>

		<!-- ===============    isotope core jquery     =============== -->
		<script type="text/javascript" src="/js/isotopoe.pkgd.min.js"></script>

		<!-- ===============    masonary core jquery     =============== -->
		<script type="text/javascript" src="/js/masonary.min.js"></script>

		<!-- ===============    ROW JavaScript Plugins    =============== -->
		<script type="text/javascript" src="/js/row-plugins.js"></script>

		<!-- ===============    Active core JavaScript     =============== -->
		<script type="text/javascript" src="/js/active.js"></script>

		<!-- SCRIPT FOR GOOGLE ANALYTICS -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9041635-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
	</body>
</html>
